body{
  font-size: 18px;
  font-family: "Avenir Next", "Avenir", -apple-system, system-ui, 
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;    
}

html,
body {
  height: 100%;
}

.main-content{
    display: flex;
    height: 100%;
}

.text-editor{
    flex: 1;
    padding: 30px;
    border: 0;
    resize: none;
    background: #ffffff;
    color: #333333;
}

.new-product-button{
    padding: 0.3em 0.4em;
    border: 0.5 px solid #767676;
    border-radius: 0.15em;
    background-color: #efefef;
    color: black;
    font-size: 0.84rem;
    text-decoration: none;
    cursor: pointer;
    margin-left: 890px;

}

.new-product-button:hover{
    background-color: #e6e6e6;
}

.save-product-button{
  padding: 0.3em 0.4em;
  border: 0.5 px solid #767676;
  border-radius: 0.15em;
  background-color: #efefef;
  color: black;
  font-size: 0.84rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 1090px;

}

.save-product-button:hover{
  background-color: #e6e6e6;
}

.edit-product-button{
  padding: 0.3em 0.4em;
  border: 0.5 px solid #767676;
  border-radius: 0.15em;
  background-color: #efefef;
  color: black;
  font-size: 0.84rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 300px;
  margin-right: 2300px;
}

.edit-product-button:hover{
  background-color: #e6e6e6;
}
