body{
  font-size: 18px;
  font-family: "Avenir Next", "Avenir", -apple-system, system-ui, 
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  scroll-behavior: smooth;    
}

html,
body {
  height: 100%;
}

.main-content{
    display: flex;
    height: 100%;
}

.text-editor{
    flex: 1;
    padding: 30px;
    border: 0;
    resize: none;
    background: #ffffff;
    color: #333333;
}

.preview{
    flex: 1;
    padding: 0 50px;
    background: #f3f3f3;
    color: #3d3d3d;
}