<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Jasmin Sweets Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>s
</nav>

<div class="card" style="padding-top: 50px;">
    <div class="card-body">

        <div th:switch="${product}" class="container my-5">
            <p class="my-5">
                <a th:href="@{'/new'}" class="btn btn-primary">
                    <i class="fas fa-user-plus ml-2"> Add new Product</i></a>
            </p>

            <div class="col-sm-5" align = "center">
                <div class="panel-body" align = "center" >
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Product Id</th>
                            <th>Title</th>
                            <th>Price</th>
                            <th>ShortDescription</th>
                            <th>LongDescription</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  th:each="product : ${listProduct}">
                            <td th:text="${product.id}"></td>
                            <td th:text="${product.title}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.shortDescription}"></td>
                            <td th:text="${product.longDescription}"></td>
                            <td>
                                <a th:href="@{'/edit/' + ${product.id}}" class="btn btn-primary">
                                    <i class="fas fa-user-edit ml-2"></i>
                                </a>
                            </td>
                            <td>
                                <a th:href="@{'/delete/' + ${product.id}}" class="btn btn-primary">
                                    <i class="fas fa-user-times ml-2"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>