
.parallax {
    /* The image used */
    background-image: url("../images/baklava 1.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.main-parallax {
    background-image: url("../images/sweets.jpg");
    background-size: 200% 200%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
