[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hargo"]
	path = themes/hargo
	url = https://github.com/themefisher/hargo-hugo.git
