[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hargo"]
	path = themes/hargo
	url = https://github.com/themefisher/hargo-hugo.git
[submodule "themes/hargo-hugo"]
	path = themes/hargo-hugo
	url = https://github.com/themefisher/hargo-hugo.git
[submodule "themes/vex-hugo"]
	path = themes/vex-hugo
	url = https://github.com/themefisher/vex-hugo.git
[submodule "themes/hargo-hugo1"]
	path = themes/hargo-hugo1
	url = https://github.com/themefisher/hargo-hugo.git
